doctype html
    html  
        head
        title= title
        meta(http-equiv="Content-Type",content="text/html",charset="UTF-8")
        link(rel="stylesheet", type="text/css", href="/public/assets/css/dpl-min.css")
        link(rel="stylesheet", type="text/css", href="/public/assets/css/bui-min.css")
        link(rel="stylesheet", type="text/css", href="/public/assets/css/main-min.css")

        script(type="text/javascript", src="/public/assets/js/jquery-1.8.1.min.js")
        script(type="text/javascript", src="/public/assets/js/bui-min.js")
        script(type="text/javascript", src="/public/assets/js/common/main-min.js")
        script(type="text/javascript", src="/public/assets/js/config-min.js")
        script(type="text/javascript").
            BUI.use('common/main',function(){
                var config = [
                {
                    id:'1',
                    menu:[{
                        text:'系统管理',
                        items:[
                            {id:'12',text:'机构管理',href:'Node/index.html'},
                            {id:'3',text:'角色管理',href:'Role/index.html'},
                            {id:'4',text:'用户管理',href:'User/index.html'},
                            {id:'6',text:'菜单管理',href:'Menu/index.html'}
                        ]
                    }]
                },
                {
                    id:'7',
                    homePage : '9',
                    menu:[{
                        text:'业务管理',
                        items:[
                            {id:'9',text:'查询业务',href:'Node/index.html'}
                        ]
                    }]
                }
                ];
                new PageUtil.MainPage({
                modulesConfig : config
                });
            });
        body
            div.header
                div.dl-title
                div.dl-log 欢迎您，
                    span.dl-log-user root
                    a.dl-log-quit(href="/chinapost/index.php?m=Public&a=logout" title="退出系统" ) [退出]
            div.content
                div.dl-main-nav
                    div.dl-inform
                        div.dl-inform-title
                            s.dl-inform-icon.dl-up
                        
                    ul#J_Nav.nav-list.ks-clear
                        li.nav-item.dl-selected
                            div.nav-item-inner.nav-home 系统管理
                        li.nav-item.dl-selected
                            div.nav-item-inner.nav-order 业务管理       
                ul#J_NavContent.dl-tab-conten
    

  