doctype html
html
    head
        title= title
        meta(charset="UTF-8")
        link(rel="stylesheet", type="text/css", href="/public/css/common/bootstrap.css")
        link(rel="stylesheet", type="text/css", href="/public/css/common/bootstrap-responsive.css")
        link(rel="stylesheet", type="text/css", href="/public/css/common/style.css")
        link(rel="stylesheet", type="text/css", href="/public/css/login.css")
        
        script(type="text/javascript", src="/public/js/lib/jquery.js")
        script(type="text/javascript", src="/public/js/lib/bootstrap.js")
        script(type="text/javascript", src="/public/js/lib/ckform.js")
        script(type="text/javascript", src="/public/js/lib/common.js")
        script(type="text/javascript", src="/public/js/lib/particles.min.js")
        script(type="text/javascript", src="/public/js/lib/gVerify.js")
        script(type="text/javascript", src="/public/js/login.js")
          
    body
        div#particles
            div.container
                div.form-signin
                    h3.form-signin-heading 登录系统
                    input.input-block-level#username(type="text",name="username",placeholder="账号",required)
                    input.input-block-level#password(type="password",name="password",placeholder="密码",required)
                    input.input-medium#code_input(type="text",name="verify",placeholder="验证码",required)
                    span#v_container
                    p.error
                    p
                        button.btn.btn-large.btn-primary.login-btn(type="button") 登录

      
        