<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="/public/lib/bootstrap/css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="/public/css/common/style.css" />
        <link rel="stylesheet" type="text/css" href="/public/css//keyPage.css" />
        <!-- 引入bootstrap-table.css -->
        <link href="/public/lib/bootstrap/css/bootstrap-table.css" rel="stylesheet">
    </head>
    <body>
        <form class="form-inline definewidth m20 " action="index.html" method="get">    
            用户名称:<input type="text" name="username" id="username"class="abc input-default" placeholder="" value="">&nbsp;&nbsp;  
            <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp; 
            
            <div class="add-key-box">
                <span>生成秘钥数量：</span>
                <select class="form-control count-select">
                    <optgroup label="请选择数量">
                        <option>100</option>
                        <option>500</option>
                        <option>800</option>
                        <option>1000</option>
                        <option>5000</option>
                        <option></option>
                    </optgroup>
                </select>
                <button type="button" class="btn btn-success" id="addKeys">生成秘钥</button>
            </div>
        </form>

        <div id="toolbar" class="btn-group">
            <button id="btn_delete" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
            </button>
        </div>
        <table id="tb_dept" data-bind="myBootstrapTable:$root">
        </table>

        <div id="delete-pop" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header delete-modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">警告</h4>
                    </div>
                    <div class="modal-body delete-modal-body">
                        <p>是否删除所选的<span data-bind="value:count"></span>条数据</p>
                    </div>
                    <div class="modal-footer delete-modal-footer">
                        <a href="#" class="btn btn-danger del-btn">确认</a>
                        <a href="#" class="btn btn-default" data-dismiss="modal">关闭</a>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/public/js/lib/jquery.js"></script>
        <!-- <script type="text/javascript" src="/public/js/lib/jquery.sorted.js"></script> -->
        <script type="text/javascript" src="/public/lib/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript" src="/public/js/lib/ckform.js"></script>
        <script type="text/javascript" src="/public/js/lib/common.js"></script>
        <script type="text/javascript" src="/public/lib/bootstrap/js/bootstrap-table.js" ></script>
        <script type="text/javascript" src="/public/lib/bootstrap/js/bootstrap-table-zh-CN.js"></script>
        
        <script src="/public/js/lib/knockout-3.4.0.js"></script>
        <script src="/public/js/lib/knockout.mapping.js"></script>
        <script src="/public/js/knockout.bootstraptable.js"></script>
        <script type="text/javascript" src="/public/js/keyPage.js"></script>
    </body>
</html>